.top-header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 50px;
    align-items: center;
    padding: 20px;
}
.Link{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.add-icon{
    font-size:25px;
    color: rgb(17, 95, 173);
    margin-bottom: 10px;
}
.link2{
    margin-right: 15px;
}
.list-data-header{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.top-sub-header{
    display: flex;
    justify-content: space-between;
}
.title-icons{
    display: flex;
}
.edit-icon{
   margin-left: 25px;
   font-size: 20px;
   cursor: pointer;
}
.delete-icon{
    margin-left: 50px;
    font-size: 20px;
    cursor: pointer;
}
.topic-list{
    height: 450px;
    overflow-y: scroll;
    margin-top: 20px;
}
@media (max-width: 486px) {
    .top-header{
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    padding: 0px;
    }
    .Link{
    font-size: 20px;
    }
    .add-icon{
        margin-bottom: 0px;
    }
}